* {
  font-family: "Marck Script", cursive;
}

.hero img {
  width: 30%;
}

h3 {
  justify-content: center;
  text-align: center;
}

.pict img {
  width: 90%;
  justify-content: center;
}

.products__card {
  border: 1px solid rgb(216, 216, 216);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  max-width: 250px;
  text-align: center;
}
.product_list {
    display: flex;

}
.footer {
  background-color: rgb(193, 199, 199);

}
